version: "3.8"

services:
  cyc_admin_67_app_replica:
    image: cyc_admin_67_app_replica:latest
    build: .
    ports:
      - target: 80
        published: 5003
        protocol: tcp
        mode: ingress

    secrets:
      - db_host
      - db_user
      - db_password
      - db_name

    deploy:
      replicas: 1
      restart_policy:
        condition: any

secrets:
  db_host:
    external: true
  db_user:
    external: true
  db_password:
    external: true
  db_name:
    external: true